@import "./menu.css";
@import "./banniere.css";

:root{
    scroll-behavior: smooth;
}



body{
    background-image: url(https://image.freepik.com/photos-gratuite/texture-fond-or_44865-93.jpg);
    background-repeat: repeat;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Montserrat";
    justify-content: center;
    flex-direction: column;
}

header, main, footer, div, section, article{
    display: flex;
    flex-direction: column;
}

.navbar-collapse{
align-items: flex-end;
}

header{
    top: 0px;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#banniere{
    width: 100%;
    height: 200px;
}


main{

}

#presentation{
    /* background-image: url("https://image.freepik.com/vecteurs-libre/elegant-frontiere-or-metallique-fond-noir_1048-1565.jpg"); */
    background-color: whitesmoke;
    /* background-size: 100% 100%; */
}

#galerie{
    background-color: black;
}

#RDV{
    background-color:whitesmoke;
}

#plan_horaire{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}

#contact_us{
    background-color:whitesmoke;
}
#contact{
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: ;
}

