@import "./css/menu.css";

:root{
    scroll-behavior: smooth;
}

header{
    display: flex;
    top: 0px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#banniere{
    width: 100%;
    height: 200px;
}

body{
    background-image: url(https://image.freepik.com/photos-gratuite/texture-fond-or_44865-93.jpg);
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{

}

#presentation{
    /* background-image: url("https://image.freepik.com/vecteurs-libre/elegant-frontiere-or-metallique-fond-noir_1048-1565.jpg"); */
    background-color: whitesmoke;
    /* background-size: 100% 100%; */
}

#galerie{
    background-color: black;
}

#RDV{
    background-color:whitesmoke;
}

#plan_horaire{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}

#contact_us{
    background-color:whitesmoke;
}
#contact{
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: ;
}

