@import "./css/button.css";

#logo_menu{
    width: 250px;
    height: 40px;
}

#nav{
    display: flex;
    position: fixed;
    top:0px;
    background: black;
    justify-content: space-between;    
    z-index: 99999;
}

nav a{
    color: white;
}

#navbarNavAltMarkup{
    justify-content: right;
}
.navbar-toggler{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}


.navbar-toggler:hover{
    background: rgba(214,118,0,1);
    background: -moz-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,118,0,1)), color-stop(100%, rgba(230,199,0,1)));
    background: -webkit-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: -o-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: linear-gradient(to bottom, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67600', endColorstr='#e6c700', GradientType=0 );

}

.nav-button{
    color:black;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 2px;
    /* couleur du background */
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.nav-button:hover{
    color:white;
    text-decoration: none;
    /* couleur du background */
    background: rgba(214,118,0,1);
    background: -moz-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,118,0,1)), color-stop(100%, rgba(230,199,0,1)));
    background: -webkit-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: -o-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    background: linear-gradient(to bottom, rgba(214,118,0,1) 0%, rgba(230,199,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67600', endColorstr='#e6c700', GradientType=0 );
}

.nav ul li a{
    padding: 2px;
    margin: 15px;
}